html {
	position: relative;
	min-height: 100%;
}

body{
	background-image: url(../images/DanaWeb.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#section{
	background-color: darkgray;
	border:solid;
}

@font-face{
	font-family: spiderText2;
	src: url('../images/SPIDERMA.TTF');
}


#cookies option{
	width: 300px;
}

#searchForm{
	padding-left: 15px;
	padding-bottom: 10px;
}

#repeatForm{
	padding-bottom: 15px;
}

#headSection{
	margin: auto;
	background-color: darkgray;
	border: 2px solid;
	border-radius: 25px;
	width: 50%;
	text-align: center;
}

legend{
	text-align:center;
}

#method{
	height: 25px;
}

#pageTitle{
	font-family: spiderText2;
	font-size: 5em;
}