html {
	position: relative;
	min-height: 100%;
}

body{
	background-image: url(../images/DanaWeb.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#section{
	background-color: darkgray;
	border:solid;
}

@font-face{
	font-family: spiderText2;
	src: url('../images/SPIDERMA.TTF');
}


h1{
	font-family: spiderText2;
	font-size: 5em;
}

#cookies option{
	width: 300px;
}

#searchForm{
	padding-left: 15px;
	padding-bottom: 10px;
}

#repeatForm{
	padding-bottom: 15px;
}

#headSection{
	margin: auto;
	background-color: darkgray;
	border: 2px solid;
	border-radius: 25px;
	width: 50%;
	text-align: center;
}

footer{
	position: absolute;
	bottom: 0;
	width: 40%;
	text-align: center;
	margin:auto;
	left:0;
	right:0;
	
}

#creators{
	background-color: darkgray;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}